//自定义list样式
$ft16: 16px;//小号字体
$ft20: 20px;//基础大号字体
$ft24: 24px;//基础小号字体
$ft28: 28px;
$ft32: 32px;
$white-color: white;
$black-color: black;
$red-color:#FF0000;
$primary-color: #2A82DD;
$color3:#333;
$color6:#666;
$color9: #999;
